In [2]:
#1. У какого фильма из списка самый большой бюджет?

import pandas as pd
data= pd.read_csv('data.csv')

a=data.sort_values(['budget'],ascending=False).head(1)['original_title']
#сортировка по столбцу "бюджет"

display(a)

491    The Warrior's Way
Name: original_title, dtype: object

In [3]:
#2. Какой из фильмов самый длительный (в минутах)?

data= pd.read_csv('data.csv')

a=data.sort_values(['runtime'],ascending=False).head(1)['original_title']
#сортировка по столбцу "длительность"

display(a)

1158    Gods and Generals
Name: original_title, dtype: object

In [4]:
#3. Какой из фильмов самый короткий (в минутах)?

data= pd.read_csv('data.csv')

a=data.sort_values(['runtime'],ascending=True).head(1)['original_title']
#сортировка по столбцу "длительность"

display(a)

769    Winnie the Pooh
Name: original_title, dtype: object

In [38]:
#4. Какое число ближе к средней длительности фильма в датасете?

data= pd.read_csv('data.csv')

a=data['runtime']

b=a.describe()
#узнаем среднюю через метод Describe
display(b['mean'])

b=a.mean()
#или узнаем среднюю, запросив напрямую 

display(b)

109.65343915343915

109.65343915343915

In [6]:
#5. Какое число ближе к медианной длительности фильма в датасете?

data= pd.read_csv('data.csv')

a=data['runtime']
b=a.describe()
#узнаем медиану через метод Describe

display(b['50%'])

106.5

In [7]:
#6. Какой самый прибыльный фильм?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=data.sort_values(['profit'],ascending=False).head(1)['original_title']
display(a)

239    Avatar
Name: original_title, dtype: object

In [50]:
#7. Какой фильм самый убыточный?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=data.sort_values(['profit'],ascending=True).head(1)['original_title']
display(a)

491    The Warrior's Way
Name: original_title, dtype: object

In [9]:
#8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=len(data.query('profit>0'))
print(a)

1478

In [10]:
#9. Какой фильм оказался самым кассовым в 2008 году?

data= pd.read_csv('data.csv')

a=data.query('release_year==2008')
#сортировка по году

b=a.sort_values(['revenue'],ascending=False).head(1)['original_title']
display(b)

600    The Dark Knight
Name: original_title, dtype: object

In [11]:
#10. Какой фильм оказался самым кассовым в 2008 году?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=data.query('2012<=release_year<=2014')
#сортировка по году

b=a.sort_values(['profit'],ascending=True).head(1)['original_title']
display(b)

1246    The Lone Ranger
Name: original_title, dtype: object

In [12]:
#11. Какого жанра фильмов больше всего?

data= pd.read_csv('data.csv')

a= pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
a=list(dict(a).keys())
gen=pd.DataFrame(a, columns=['genres'])
#cписок всех жанров

def func(genres):
    a=len(data[data.genres.str.contains(genres)])
    return a
gen['count']=gen.genres.apply(func)
#создаем таблицу с кол-вом фильмов каждого жанра

display(gen.head(1)['genres'])

0    Drama
Name: genres, dtype: object

In [13]:
#12. Какого жанра среди прибыльных фильмов больше всего?

data= pd.read_csv('data.csv')

data['profit']=data['revenue']-data['budget']
data_new=data.query('profit>0')
#создаем таблицу только с прибыльными фильмами

a=pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
a=list(dict(a).keys())
gen=pd.DataFrame(a,columns=['genres'])
#cписок всех жанров

def func(genres):
    a=len(data_new[data_new.genres.str.contains(genres)])
    return a
gen['count']=gen.genres.apply(func)
#создаем таблицу с кол-вом фильмов каждого жанра

display(gen.head(1)['genres'])

0    Drama
Name: genres, dtype: object

In [14]:
#13. Кто из режиссеров снял больше всего фильмов?

data= pd.read_csv('data.csv')

a=data.groupby(['director']).count()
#группировка по режиссеру с количеством фильмов

b=a.sort_values(['original_title'],ascending=False).head(1)['original_title']
display(b)

director
Steven Soderbergh    13
Name: original_title, dtype: int64

In [51]:
#14. Кто из режиссеров снял больше всего прибыльных фильмов?

data= pd.read_csv('data.csv')

data['profit']=data['revenue']-data['budget']
a=data.query('profit>0')
#создаем таблицу только с прибыльными фильмами

b=a.groupby(['director']).count()
#группировка по режиссеру с количеством фильмов

c=b.sort_values(['original_title'],ascending=False).head(1)['original_title']
display(c)

director
Ridley Scott    12
Name: original_title, dtype: int64

In [52]:
#15. Кто из режиссеров принес больше всего прибыли?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
a=data.query('profit>0')
#создаем таблицу только с прибыльными фильмами

b=a.groupby(['director']).sum()
#группировка по режиссеру с суммой по всем столбцам

c=b.sort_values(['profit'],ascending=False).head(1)['profit']
display(c)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [53]:
#16. Какой актер принес больше всего прибыли?

data= pd.read_csv('data.csv')

data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=pd.DataFrame(data.cast.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
act=pd.DataFrame(new,columns=['actor'])
#создадим таблицу с актерами

def func(acts):
    c=data[data.cast.str.contains(acts)]
    b=c.profit.sum()
    return b
act['profit']=act.actor.apply(func)
#добавим в предыдущую таблицу сумму по прибыли

b=act.sort_values(['profit'],ascending=False).head(1)['actor']
display(b)

109    Emma Watson
Name: actor, dtype: object

In [18]:
#17. Какой актер принес меньше всего прибыли в 2012 году?

data=pd.read_csv('data.csv')

data=data.query('release_year==2012')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=pd.DataFrame(data_new.cast.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
act=pd.DataFrame(new,columns=['actor'])
#создадим таблицу с актерами

def func(acts):
    a=data[data.cast.str.contains(acts)]
    b=a.profit.sum()
    return b
act['profit']=act.actor.apply(func)
#добавим в предыдущую таблицу сумму по прибыли

b=act.sort_values(['profit'],ascending=True).head(1)['actor']
display(b)

178    Kirsten Dunst
Name: actor, dtype: object

In [19]:
#18. Какой актер снялся в большем количестве высокобюджетных фильмов? 

data=pd.read_csv('data.csv')

x=data.budget.mean()
#создаем новую переменную со среднем значением по столбцу "Бюджет"

data_new=data.query('budget> @x')
#создаем новую таблицу только с высокобюджетными фильмами

a=pd.DataFrame(data.cast.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
act=pd.DataFrame(new,columns=['actor'])
#создаем таблицу с актерами

def func(acts):
    a=len(data_new[data_new.cast.str.contains(acts)])
    return a
act['count']=act.actor.apply(func)
#добавим в предыдущую таблицу количество фильмов по актерам

b=act.sort_values(['count'],ascending=False).head(1)['actor']
display(b)

3    Matt Damon
Name: actor, dtype: object

In [20]:
#19. В фильмах какого жанра больше всего снимался Nicolas Cage?

data=pd.read_csv('data.csv')

x='Nicolas Cage'
data_new= data[data.cast.str.contains(x)]
#сортируем таблицу только с фильмами с Николасом Кейджем

a=pd.DataFrame(data_new.genres.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
gen=pd.DataFrame(new,columns=['genres'])
#собираем в таблицу все жанры

def func(gen):
    a=len(data_new[data_new.genres.str.contains(gen)])
    return a
gen['count']=gen.genres.apply(func)
#добавляем в таблицу кол-во фильмов

b=gen.sort_values(['count'],ascending=False).head(1)['genres']
display(b)

0    Action
Name: genres, dtype: object

In [21]:
#20. Какая студия сняла больше всего фильмов?

data=pd.read_csv('data.csv')

a=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'])
#собираем в таблицу все студии

def func(comp):
    a=len(data[data.production_companies.str.contains(comp)])
    return a
prod['count']=prod.comp.apply(func)
#добавляем в таблицу кол-во фильмов

display(prod.sort_values(['count'],ascending=False).head(1)['comp'])

/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

327    Universal
Name: comp, dtype: object

In [22]:
#21. Какая студия сняла больше всего фильмов в 2015 году?

data=pd.read_csv('data.csv')
data1=data.query('release_year == 2015')
#сортируем таблицу по году

a=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'])
#собираем в таблицу все студии

def func(comp):
    a=len(data1[data1.production_companies.str.contains(comp)])
    return a
prod['count']=prod.comp.apply(func)
#добавляем в таблицу кол-во фильмов

b=prod.sort_values(['count'],ascending=False).head(1)['comp']
display (b)

327    Universal
Name: comp, dtype: object

In [23]:
#22. Какая студия заработала больше всего денег в жанре комедий за все время?

data=pd.read_csv('data.csv')

data1=data[data.genres.str.contains('Comedy')]
#сортируем таблицу по жанру Комедия

a=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'])
#собираем в таблицу все студии

def func(comp):
    a=data1[data1.production_companies.str.contains(comp)]
    b=data1.revenue.sum()
    return b
prod['count']=prod.comp.apply(func)
#добавляем в таблицу сумму по выручке

b=prod.sort_values(['count'],ascending=False).head(1)['comp']
display (b)

0    Universal Pictures
Name: comp, dtype: object

In [24]:
#23. Какая студия заработала больше всего денег в 2012 году?

data1=pd.read_csv('data.csv')

data=data.query('release_year == 2012')
#сортируем таблицу по году

a=pd.DataFrame(data1.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'])
#собираем в таблицу все студии

def func(comp):
    a=data[data.production_companies.str.contains(comp)]
    b=data.revenue.sum()
    return b
prod['count']=prod.comp.apply(func)
#добавляем в таблицу сумму по выручке

b=prod.sort_values(['count'],ascending=False).head(1)['comp']
display (b)

0    Universal Pictures
Name: comp, dtype: object

In [39]:
#24. Самый убыточный фильм от Paramount Pictures?

data=pd.read_csv('data.csv')

data=data[data.production_companies.str.contains('Paramount')]
#сортируем таблицу по нужной студии

data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

b=data.sort_values(['profit'],ascending=True).head(1)['original_title']
display (b)

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [26]:
#25. Какой самый прибыльный год (в какой год студии заработали больше всего)?

data= pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

b=data.groupby(['release_year']).sum()
#сгруппируем по годам и узнаем сумму по каждому из них

c=b.sort_values(['profit'],ascending=False).head(1)['profit']
display(c)

release_year
2015    18668572378
Name: profit, dtype: int64

In [40]:
#26. Какой самый прибыльный год для студии Warner Bros?

data=pd.read_csv('data.csv')

data=data[data.production_companies.str.contains('Warner Bros')]
#сортируем таблицу по нужной студии

data['profit']=data['revenue']-data['budget']
#создадим новый столбик с данными по прибыли от фильма

a=data.groupby(['release_year']).sum()
#сгруппируем по годам и узнаем сумму по каждому из них

b=a.sort_values(['profit'],ascending=False).head(1)['profit']
display (b)

release_year
2014    2295464519
Name: profit, dtype: int64

In [28]:
#27. В каком месяце за все годы суммарно вышло больше всего фильмов?

data=pd.read_csv('data.csv')

def func(date):
    a=date.find('/')
    b=date[:a]
    return b
data['month']=data.release_date.apply(func)
#создадим отдельный столбик с номером месяца

a=data.groupby(['month']).count()
#группируем таблицу по месяцам

b=a.sort_values(['original_title'],ascending=False).head(1)['original_title']
display(b)

month
9    227
Name: original_title, dtype: int64

In [41]:
#28. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

data=pd.read_csv('data.csv')

def func(date):
    a=date.find('/')
    b=date[:a]
    return int(b)
data['month']=data.release_date.apply(func)
#создадим отдельный столбик с номером месяца

data_new=data.query('5<month<9')
#сортируем таблицу только по летним месяцам

display (len(data_new))

450

In [30]:
#29. Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

data=pd.read_csv('data.csv')

def func(date):
    a=date.find('/')
    b=date[:a]
    return int(b)
data['month']=data.release_date.apply(func)
#создадим отдельный столбик с номером месяца

data_new=data.query('month==1 or month==2 or month==12')
#сортируем таблицу только по зимним месяцам

a=data.groupby(['director']).count()
#группируем таблицу по режиссерам

b=a.sort_values(['original_title'],ascending=False)
display(b.head(1)['original_title'])

director
Steven Soderbergh    13
Name: original_title, dtype: int64

In [45]:
#30. Какой месяц чаще всего самый прибыльный в году?

data=pd.read_csv('data.csv')
data['profit']=data['revenue']-data['budget']

def func(date):
    a=date.find('/')
    b=date[:a]
    return int(b)
data['month']=data.release_date.apply(func)
#создадим отдельный столбик с номером месяца

data_new=data.pivot_table(values=['profit'], index=['release_year'], columns=['month'],aggfunc='sum',margins=True)
#создаем сводную таблицу по сумме каждого месяца в каждом году

a=dict(data_new.sum())
new=list(dict(a).values())
df=pd.DataFrame(new, columns=['sum'],index=['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь','All'])
#создаем таблицу с суммой по каждому месяцу и назваию месяца

print(df.sort_values(['sum'],ascending=False).head(2))

               sum
All   380956043820
Июнь   55102525000

In [32]:
#31. Названия фильмов какой студии в среднем самые длинные по количеству символов?

data=pd.read_csv('data.csv')

a=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'],index=new)
#собираем в таблицу все студии

def func(comp):
    a=data[data.production_companies.str.contains(comp)]
    b=a['original_title']
    return list(b)
prod['film']=prod.comp.apply(func)
#добавляем в таблицу названия фильмов по каждой студии

def func(word): 
    s=len(word)
    return s
prod['len']=prod.film.apply(func)
#добавляем в таблицу количество фильмов по каждой студии

def func(letter):
    a=str(letter)
    b=a.count(' ')
    c=a.count('[')
    d=a.count(']')
    e=a.count(',')
    f=a.count('-')  
    s=len(letter)*2
    z=len(a)-b-c-d-e-f-s
    return z
prod['letter']=prod.film.apply(func)
#добавляем в таблицу количество символов в фильмах по каждой студии (чувствую, что эту часть можно сделать гораздо проще, мб с помощью регулярных выражений)

prod['mean']=prod['letter']/prod['len']
#добавляем в таблицу среднее количество символов в названии фильмах по каждой студии

print (display(prod.sort_values(['mean'],ascending=False).head(1)['comp']))

/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Four By Two Productions    Four By Two Productions
Name: comp, dtype: object

None

In [33]:
#32. Названия фильмов какой студии в среднем самые длинные по количеству слов?

import pandas as pd
data=pd.read_csv('data.csv')

a=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
prod=pd.DataFrame(new,columns=['comp'],index=new)
#собираем в таблицу все студии

def func(comp):
    a=data[data.production_companies.str.contains(comp)]
    b=a['original_title']
    return list(b)
prod['film']=prod.comp.apply(func)
#добавляем в таблицу названия фильмов по каждой студии

def func(word): 
    s=len(word)
    return s
prod['len']=prod.film.apply(func)
#добавляем в таблицу количество фильмов по каждой студии

def func(word):
    a=str(word)
    b=a.count(' ')+1
    return b
prod['word']=prod.film.apply(func)
#добавляем в таблицу количество слов в названиях фильмов по каждой студии. (Считаем кол-во пробелов и добавляем 1, так как одно слово всегда остается без пробела)

prod['mean']=prod['word']/prod['len']
prod=prod.query('len>0')
#узнаем среднее кол-во слов

print (display(prod.sort_values(['mean'],ascending=False).head(1)['comp']))

Four By Two Productions    Four By Two Productions
Name: comp, dtype: object

None

In [34]:
#33. Сколько разных слов используется в названиях фильмов (без учета регистра)?


import pandas as pd
data=pd.read_csv('data.csv')

a=pd.DataFrame(data.original_title.str.split('|').tolist()).stack().value_counts()
#создаем список всех названий 

new=str(list(dict(a).keys())).replace(',','')
new=new.replace("'",' ')
new=new.replace('"',' ')
new=new.replace('[',' ')
new=new.replace(']',' ')
new=new.replace(':',' ')
new=new.replace('-',' ')
new=new.replace('/',' ')
new=new.replace('&',' ')
new=new.replace('1','')
new=new.replace('2','')
new=new.replace('3','')
new=new.replace('4','')
new=new.replace('5','')
new=new.replace('6','')
new=new.replace('7','')
new=new.replace('8','')
new=new.replace('9','')
new=new.replace('0','')
new=new.replace('.',' ')
new=new.replace(')',' ')
new=new.replace('(',' ')
new=new.replace('!','')
new=new.replace('?','')
#убираем лишние знаки (чувствую, что эту часть можно сделать гораздо проще, мб с помощью регулярных выражений)

new=new.lower()
#ставим один регистр по всем словам 

new=new.split(' ')
#делаем список слов 

unique=[]
for i in new:
    if i not in unique:
        unique.append(i)
#составляем список уникальных значений

print(len(unique))

2299

In [35]:
#34. Какие фильмы входят в 1 % лучших по рейтингу?

import pandas as pd
data=pd.read_csv('data.csv')

data_new=data['vote_average']
import numpy as np
a=np.percentile(data_new, 99)
#узнаем границу 1%

data=data.query('vote_average> @a')
print(display(data))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000

None

In [59]:
#36. Какие актеры чаще всего снимаются в одном фильме вместе?

#тут я не смогла додуматься как сделать

import pandas as pd
import itertools

data=pd.read_csv('data.csv')
a=pd.DataFrame(data.cast.str.split('|').tolist()).stack().value_counts()
new=list(dict(a).keys())
#создала список со всеми актерами

a=list(itertools.combinations(new,2))
#все возможные комбинации актеров 

#но далее возникла ошибка: 
#IOPub data rate exceeded.
#The notebook server will temporarily stop sending output
#to the client in order to avoid crashing it.
#To change this limit, set the config variable
#`--NotebookApp.iopub_data_rate_limit`.

#Current values:
#NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
#NotebookApp.rate_limit_window=3.0 (secs)"

#по идее дальше нужно перебрать какие пары сколько раз встречались, отфильтровать и найти лидера
#но нет(

#поэтому пришлось вручную перебирать
data=pd.read_csv('data.csv')

data1=data[data.cast.str.contains('Johnny Depp')]
data1=data1[data.cast.str.contains('Helena Bonham')]
print('Johnny Depp and Helena Bonham Carter', len(data1))

data2=data[data.cast.str.contains('Hugh Jackman')]
data2=data2[data.cast.str.contains('Ian McKellen')]
print('Hugh Jackman and Ian McKellen', len(data2))

data3=data[data.cast.str.contains('Vin Diesel')]
data3=data3[data.cast.str.contains('Paul Walker')]
print('Vin Diesel and Paul Walker', len(data3))

data4=data[data.cast.str.contains('Adam Sandler')]
data4=data4[data.cast.str.contains('Kevin James')]
print('Adam Sandler and Kevin James', len(data4))

data5=data[data.cast.str.contains('Daniel Radcliffe')]
data5=data5[data.cast.str.contains('Rupert Grint')]
print('Daniel Radcliffe and Rupert Grint', len(data5))
print(a)

/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yasckevich/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Johnny Depp and Helena Bonham Carter 6
Hugh Jackman and Ian McKellen 5
Vin Diesel and Paul Walker 5
Adam Sandler and Kevin James 5
Daniel Radcliffe and Rupert Grint 8

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [54]:
#36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

import pandas as pd

data=pd.read_csv('data.csv')

a=data.groupby(['director']).count()
a=a[['revenue']]
#группируем таблицу по режиссеру с общим кол-вом фильмов

data_new=data.copy()
data_new['profit']=data['revenue']-data['budget']
data_new=data_new.query('profit>0')
b=data_new.groupby(['director']).count()
b=b[['profit']]
#группируем таблицу по режиссеру с кол-вом прибыльных фильмов

c=pd.concat([a,b],axis=1)
#объединяем таблицу

c = c.fillna(0) 
#приравниваем ошибку к нулю

def func(profit):
    a=int(profit)
    return a
c['profit']=c.profit.apply(func)
#приводим столбец к цифровому значению

c['e']=c['profit']/c['revenue']
#узнаем % фильмов со сборами выше бюджета

a=c['e']['Quentin Tarantino']*100
print('Quentin Tarantino', a, '%')
a=c['e']['Steven Soderbergh']*100
print('Steven Soderbergh', a, '%')
a=c['e']['Robert Rodriguez']*100
print('Robert Rodriguez', a, '%')
a=c['e']['Christopher Nolan']*100
print('Christopher Nolan', a, '%')
a=c['e']['Clint Eastwood']*100
print('Clint Eastwood', a, '%')

#почему-то два правильных ответа, ошибку не смогла найти

Quentin Tarantino 100.0 %
Steven Soderbergh 76.92307692307693 %
Robert Rodriguez 85.71428571428571 %
Christopher Nolan 100.0 %
Clint Eastwood 83.33333333333334 %

In [ ]:
#небольшой эпилог:
#да, я все никак не освою github, его логику поняла, а механику - нет. на сл неделю буду исправляться
#не хватает понимания где можно использовать регулярные выражения, 
#вроде штука крутая, а с пониманием где его лучше употреблять и как - проблемы
#и еще вопрос: как лучше всего работать с ошибками и как их "читать"?